---
import EducationStats from "../components/EducationStats.astro"
---

<section class="w-full mx-auto text-center mt-10 mt-10">
    <EducationStats body="**While attending school at the Centre for Arts and Technology. I achieved top of my class in most of the subjects offered in the Graphic and Digital Media Design course. Learn more about my education and background." year="2012" />
</section>

<section class="w-full mx-auto text-center mt-10 mt-10">
    <EducationStats body="**Attended University of Calgary for the Front-End Developer and .NET Application Development certificates. Had an average of 97% in my programming courses." year="2022" />
</section>