---

---

<section class="bg-black pt-10 pb-2">
    <div class="flex w-full text-white">
        <div class="mx-auto flex">
            <p class="pl-2 pr-2"><a href="/" class="hover:text-[#17A2B8]">Home</a></p>
            <p class="pl-2 pr-2"><a href="/portfolio" class="hover:text-[#17A2B8]">Portfolio</a></p>
            <p class="pl-2 pr-2"><a href="/education" class="hover:text-[#17A2B8]">Education</a></p>
            <p class="pl-2 pr-2"><a href="/contact" class="hover:text-[#17A2B8]">Contact</a></p>
        </div>
    </div>
    <div class="flex w-full text-white">
        <div class="mx-auto flex">
            <p class="pl-2 pr-2">icon 1</p>
            <p class="pl-2 pr-2">icon 2</p>
            <p class="pl-2 pr-2">icon 3</p>
        </div>
    </div>
    <div class="w-full">
        <p class="text-center text-white">©2011 - <span id="year"></span> Visualsplus.com</p>
    </div>
</section>

<script>

    document.getElementById("year").innerHTML = new Date().getFullYear();

    // Issue: Gets all links of navigation but mobile nav is not included. Styles do not apply to mobile.
    // Moving JS scripting to footer as Astro has issues with Document & Window attributes. Needs to be in a script tag (island methods for client components)
    const navigation = document.querySelector(".navigation");
    // console.log(navigation);

    // navigation null check -- SOLVED
    if(navigation !== null){
        const navLink = navigation.querySelectorAll("a");
        const currentURL = window.location.href;
        navLink.forEach((link) => {
            if(link.href === currentURL){
            link.classList.add("active");
            }
        });
    } else {
        // No need for console message
        // console.error("navigation not found");
    }

</script>