---

---

<section class="bg-black pt-10 pb-2">
    <p class="text-center text-white">©2011 - <span id="year"></span> Visualsplus.com</p>
</section>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>