---

---

<section class="bg-black pt-10 pb-2">
    <div class="flex w-full text-white">
        <div class="mx-auto flex">
            <p class="pl-2 pr-2"><a href="/">Home</a></p>
            <p class="pl-2 pr-2"><a href="/portfolio">Portfolio</a></p>
            <p class="pl-2 pr-2"><a href="/education">Education</a></p>
            <p class="pl-2 pr-2"><a href="/contact">Contact</a></p>
        </div>
    </div>
    <div class="flex w-full text-white">
        <div class="mx-auto flex">
            <p class="pl-2 pr-2">icon 1</p>
            <p class="pl-2 pr-2">icon 2</p>
            <p class="pl-2 pr-2">icon 3</p>
        </div>
    </div>
    <div class="w-full">
        <p class="text-center text-white">©2011 - <span id="year"></span> Visualsplus.com</p>
    </div>
</section>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>