---
import EducationStats from "../../components/EducationStats.astro"
---

<section class="lg:flex mt-10 mb-10">
    <div class="w-10/12 lg:w-4/12 mx-auto text-center mt-10 pl-6 pr-6 bg-red-100 pt-8 pb-8">
        <EducationStats school="Centre for Arts and Technology" body="Achieved top of my class in most of the subjects offered in the Graphic and Digital Media Design course. Learn more about my education and background." year="2012" />
    </div>
    
    <div class="w-10/12 lg:w-4/12 mx-auto text-center mt-10 pl-6 pr-6 bg-red-100 pt-8 pb-8">
        <EducationStats school="University of Calgary" body="Achieved  Front-End Developer and .NET Application Development certificates. Had an average of 97% in my programming courses." year="2022" />
    </div>
</section>
