---

---

<section class="w-10/12 container mx-auto lg:flex pt-20 pb-20">
    <div class="w-full lg:w-6/12">
        <p class="text-3xl font-light leading-[1.5] text-center lg:text-left">Hi, I am</p>
        <p class="text-5xl font-extrabold leading-[1.5] text-center lg:text-left">Mark Phillips</p>
        <p class="text-3xl font-semibold leading-[1.5] text-center lg:text-left">Full Stack Developer / Graphic Designer</p>
        <p class="text-xl font-light leading-[1.5] text-center lg:text-left">I specialize in Front-End Development and Graphic Design with an interest in Back-End Development creating full stack dynamic applications. I am a Certified Web Designer / Graphic Designer with knowledge in Digital Marketing and SEO.</p>
    </div>
    <div class="w-6/12 text-center">IMAGE</div>
</section>