---
import ProjectCard from '../../components/ProjectCard.astro';
---

<section class="mt-10 mb-10">
    <h2 class="text-center text-4xl font-bold uppercase">Portfolio Spotlights</h2>
    <p class="text-center text-1xl font-semibold uppercase italic">Most Recent</p>
</section>

<!-- Website cards for projects DESKTOP -->
<section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 1'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 2'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 3'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 4'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
</section>

<!-- Website cards for projects MOBILE -->
<section class="md:flex w-full lg:hidden">
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 1'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 2'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
</section>
<section class="md:flex w-full lg:hidden">
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 3'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
        <ProjectCard
        image="https://placehold.co/600x400"
        imgAlt='Project 1'
        tags="React, PHP, HTML5, CSS"
        title='React Project 4'
        url='http://localhost:4321/'
        codeURL='https://github.com/Zwill1' 
        />
    </div>
</section>