---

---
<section class="mt-10">
    <h2 class="text-center text-4xl font-bold uppercase">Skills</h2>
</section>
<section class="w-full lg:flex lg:w-11/12 xl:w-10/12 mx-auto mt-10">
    <div class="text-center w-full lg:w-4/12 p-2 lg:p-8">
        <h4 class="text-xl font-semibold">Front-End Languages</h4>
        <p class="mt-4">
            HTML / HTML5 / XHTML / CSS / CSS3 / TailwindCSS / Styled Components / LESS / SASS / JavaScript / ES6 / React / AngularJS / JSON / Python / C# / ASP.NET / ADO.NET / .NET / Windows Forms (C#) / JQuery / JQueryUI / AJAX / OOP / Flash / ActionScript / XML
        </p>
        <h4 class="text-xl font-semibold mt-4">Back-End Languages</h4>
        <p class="mt-4">
            PHP / MySQL / MS SQL / Azure / NodeJS / Express / Mongoose
        </p>
    </div>
    <div class="text-center w-full lg:w-4/12 p-2 lg:p-8">
        <h4 class="text-xl font-semibold">Content Management Systems</h4>
        <p class="mt-4">
            WordPress / Shopify / Volusions
        </p>
        <h4 class="text-xl font-semibold mt-4">Frameworks</h4>
        <p class="mt-4">
            NextJS / Astro / Bootstrap / UiKit / Foundation Zurb / Semantic UI / C# Razor Pages
        </p>
    </div>
    <div class="text-center w-full lg:w-4/12 p-2 lg:p-8">
        <h4 class="text-xl font-semibold">Marketing</h4>
        <p class="mt-4">
            Social Media Marketing / Search Engine Optimization / Pay Per Click / AdWords / Web Analytics / UI/UX Specialist
        </p>
        <h4 class="text-xl font-semibold mt-4">Software</h4>
        <p class="mt-4">
            Adobe Suite / Interactive PDF / Video Production Editing / Autodesk Softimage 3D / Sublime Text / Netbeans IDE / Quickbooks Desktop / T-Hub / ACCUPOS
        </p>
    </div>
</section>