---

---
<section class="mt-10">
    <h2 class="text-center text-4xl font-bold uppercase text-black">Skills</h2>
</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mt-5">
    <div class="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl">
        <h4 class="text-xl font-black text-[#233538]"><i class="fa-solid fa-laptop-code"></i> Front-End Languages</h4>
        <p class="mt-4">
            HTML / HTML5 / XHTML / CSS / CSS3 / TailwindCSS / Styled Components / LESS / SASS / JavaScript / ES6 / React / TypeScript / AngularJS / JSON / Python / C# / ASP.NET / ADO.NET / .NET / Windows Forms (C#) / JQuery / JQueryUI / AJAX / OOP / Flash / ActionScript / XML
        </p>
    </div>
    <div class="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl">
        <h4 class="text-xl font-black mt-4 text-[#233538]"><i class="fa-solid fa-sitemap"></i> Back-End Languages</h4>
        <p class="mt-4">
            PHP / MySQL / MSSQL / Azure DB / NodeJS / Express / Mongoose
        </p>
    </div>
    <div class="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl">
        <h4 class="text-xl font-black mt-4 text-[#233538]"><i class="fa-solid fa-book-bookmark"></i> Frameworks</h4>
        <p class="mt-4">
            NextJS / Astro / Bootstrap / C# Razor Pages / UiKit / Foundation Zurb / Semantic UI
        </p>
    </div>
</section>
<section class="text-center w-11/12 lg:flex lg:w-11/12 xl:w-10/12 mx-auto mb-5">
    <div class="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl">
        <h4 class="text-xl font-black text-[#233538]"><i class="fa-regular fa-file-lines"></i> Content Management Systems</h4>
        <p class="mt-4">
            WordPress / Shopify / Volusions
        </p>
    </div>
    <div class="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl">
        <h4 class="text-xl font-black text-[#233538]"><i class="fa-solid fa-ranking-star"></i> Marketing</h4>
        <p class="mt-4">
            Social Media Marketing / Search Engine Optimization / Pay Per Click / Google Ads / Web Analytics / UI/UX Specialist
        </p>
    </div>
    <div class="lg:w-4/12 p-4 lg:p-4 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl">
        <h4 class="text-xl font-black mt-4 text-[#233538]"><i class="fa-solid fa-photo-film"></i> Software</h4>
        <p class="mt-4">
            Adobe Suite / Interactive PDF / Video Editing / Autodesk Softimage 3D / Quickbooks / T-Hub / ACCUPOS
        </p>
    </div>
</section>




    <!-- <div class="text-center lg:w-4/12 p-4 lg:p-8 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl rounded-3xl">
        <h4 class="text-xl font-black text-[#233538]">Front-End Languages</h4>
        <p class="mt-4">
            HTML / HTML5 / XHTML / CSS / CSS3 / TailwindCSS / Styled Components / LESS / SASS / JavaScript / ES6 / React / TypeScript / AngularJS / JSON / Python / C# / ASP.NET / ADO.NET / .NET / Windows Forms (C#) / JQuery / JQueryUI / AJAX / OOP / Flash / ActionScript / XML
        </p>
        <h4 class="text-xl font-black mt-4 text-[#233538]">Back-End Languages</h4>
        <p class="mt-4">
            PHP / MySQL / MSSQL / Azure DB / NodeJS / Express / Mongoose
        </p>
    </div>
    <div class="text-center lg:w-4/12 p-4 lg:p-8 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl rounded-3xl">
        <h4 class="text-xl font-black text-[#233538]">Content Management Systems</h4>
        <p class="mt-4">
            WordPress / Shopify / Volusions
        </p>
        <h4 class="text-xl font-black mt-4 text-[#233538]">Frameworks</h4>
        <p class="mt-4">
            NextJS / Astro / Bootstrap / C# Razor Pages / UiKit / Foundation Zurb / Semantic UI
        </p>
    </div>
    <div class="text-center lg:w-4/12 p-4 lg:p-8 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl rounded-3xl">
        <h4 class="text-xl font-black text-[#233538]">Marketing</h4>
        <p class="mt-4">
            Social Media Marketing / Search Engine Optimization / Pay Per Click / AdWords / Web Analytics / UI/UX Specialist
        </p>
        <h4 class="text-xl font-black mt-4 text-[#233538]">Software</h4>
        <p class="mt-4">
            Adobe Suite / Interactive PDF / Video Production Editing / Autodesk Softimage 3D / Quickbooks Desktop / T-Hub / ACCUPOS
        </p>
    </div> -->