---

---
<section class="mt-10">
    <h2 class="text-center text-4xl font-bold uppercase text-white">Skills</h2>
</section>
<section class="w-full lg:flex lg:w-11/12 xl:w-10/12 mx-auto mt-5">
    <div class="text-center lg:w-4/12 p-4 lg:p-8 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl rounded-3xl">
        <h4 class="text-xl font-black text-[#233538]">Front-End Languages</h4>
        <p class="mt-4">
            HTML / HTML5 / XHTML / CSS / CSS3 / TailwindCSS / Styled Components / LESS / SASS / JavaScript / ES6 / React / AngularJS / JSON / Python / C# / ASP.NET / ADO.NET / .NET / Windows Forms (C#) / JQuery / JQueryUI / AJAX / OOP / Flash / ActionScript / XML
        </p>
        <h4 class="text-xl font-black mt-4 text-[#233538]">Back-End Languages</h4>
        <p class="mt-4">
            PHP / MySQL / MS SQL / Azure / NodeJS / Express / Mongoose
        </p>
    </div>
    <div class="text-center lg:w-4/12 p-4 lg:p-8 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl rounded-3xl">
        <h4 class="text-xl font-black text-[#233538]">Content Management Systems</h4>
        <p class="mt-4">
            WordPress / Shopify / Volusions
        </p>
        <h4 class="text-xl font-black mt-4 text-[#233538]">Frameworks</h4>
        <p class="mt-4">
            NextJS / Astro / Bootstrap / UiKit / Foundation Zurb / Semantic UI / C# Razor Pages
        </p>
    </div>
    <div class="text-center lg:w-4/12 p-4 lg:p-8 m-4 bg-white hover:bg-[#f4f4f4] shadow-md hover:shadow-2xl rounded-3xl">
        <h4 class="text-xl font-black text-[#233538]">Marketing</h4>
        <p class="mt-4">
            Social Media Marketing / Search Engine Optimization / Pay Per Click / AdWords / Web Analytics / UI/UX Specialist
        </p>
        <h4 class="text-xl font-black mt-4 text-[#233538]">Software</h4>
        <p class="mt-4">
            Adobe Suite / Interactive PDF / Video Production Editing / Autodesk Softimage 3D / Sublime Text / Netbeans IDE / Quickbooks Desktop / T-Hub / ACCUPOS
        </p>
    </div>
</section>