---
import Layout from '../layouts/Layout.astro';
import Hero from '../ui/Home/Hero.astro';
import ProjectCardSection from '../ui/Home/ProjectCardSection.astro';
import SkillSection from '../ui/Home/SkillSection.astro';
import EducationSection from '../ui/Home/EducationSection.astro';
import Button from '../components/Button';
---

<!-- colors
#28808D
#2D5B63
#17A2B8
#233538
#283233 -->

<Layout title="Home title tag">
	<main>
		<Hero />
		<section class="bg-[#2D5B63] pt-5 pb-5 shadow-xl">
			<SkillSection />
		</section>
		<ProjectCardSection />
		<section class="w-10/12 xl:w-10/12 mx-auto mb-20 md:flex">
			<!-- <div class="w-full md:w-8/12 lg:w-10/12"></div>
			<div class="w-full md:w-4/12 lg:w-2/12 p-6 md:p-0 md:pr-6">
				<Button link="http://localhost:4321/portfolio" name="See more projects" target="" bgColor="bg-[#17A2B8]" width="w-full text-center text-1xl text-white" />
			</div> -->

			<div class="mx-auto">
				<Button link="http://localhost:4321/portfolio" name="See more projects" target="" bgColor="bg-[#17A2B8] hover:bg-[#28808D]" width="w-full text-center text-1xl font-bold italic text-white pl-6 pr-6" />
			</div>
			
		</section>
		<section class="pt-2 pb-20 bg-[#f4f4f4]">
			<div class="mt-10">
				<h2 class="text-center text-4xl font-bold uppercase">Education</h2>
			</div>
			<EducationSection />
			<div class="mt-10">
				<div class="w-full">
					<p class="text-center text-1xl italic">For more information on my education, see below</p>
					<Button link="http://localhost:4321/education" name="Education" target="" bgColor="bg-[#17A2B8] hover:bg-[#28808D]" width="w-[150px] mx-auto mt-2 font-bold italic text-center text-1xl text-white" />
				</div>
			</div>
		</section>
	</main>
</Layout>

