---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.jsx';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="Home title tag">
	<main>
		<!-- Requires the client load for any reactJS or state used components -->
		<Navigation client:load />
		<p class="text-center">Skills</p>

		<!-- Website cards for projects DESKTOP -->
		<section class="hidden lg:block lg:flex w-full">
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 1'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 2'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 3'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 4'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
		</section>

		<!-- Website cards for projects MOBILE -->
		<section class="md:flex w-full lg:hidden">
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 1'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 2'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
		</section>
		<section class="md:flex w-full lg:hidden">
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 3'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
			<div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
				<ProjectCard
				image="https://placehold.co/600x400"
				imgAlt='Project 1'
				tags="React, PHP, HTML5, CSS"
				title='React Project 4'
				url='http://localhost:4321/'
				codeURL='https://github.com/Zwill1' 
				/>
			</div>
		</section>
	</main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		/* color: white; */
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		/* background-image: var(--accent-gradient); */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		/* background: rgba(var(--accent-light), 12%); */
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style> -->
