---
import ProjectCard from '../components/ProjectCard.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio page">

<div class="pt-10 pb-10">
    <!-- Start "Front-End Dev Projects" -->
    <section>
        <h2 class="text-center text-4xl font-bold uppercase">Front-End Dev Projects</h2>
    </section>
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/AniStream-thumbnail.jpg"
            imgAlt='AniStream'
            tags="NextJS, TypeScript, NextAuth, HTML5, CSS, TailwindCSS, Framer Motion, CLSX, Eslint"
            title='AniStream'
            url='#'
            codeURL='https://github.com/Zwill1/AniStream' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/Social-Dashboard-thumbnail.jpg"
            imgAlt='Admin Social Dashboard'
            tags="React, React Router Dom, React Context API, Axios, HTML5, CSS, TailwindCSS, Material Icons, Vitest"
            title='Social Dashboard V2.0'
            url='#'
            codeURL='https://github.com/Zwill1/admin-social-dashboard-v2' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/car-dealership-thumbnail.jpg"
            imgAlt='Car Dealership'
            tags="React, React Router Dom, HTML5, TailwindCSS, CSS, SASS, Axios, React Icons, Vitest, Eslint"
            title='Car Dealership'
            url='#'
            codeURL='https://github.com/Zwill1/car-dealership' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/AniStream-thumbnail.jpg"
            imgAlt='AniStream'
            tags="NextJS, TypeScript, NextAuth, HTML5, CSS, TailwindCSS, Framer Motion, CLSX, Eslint"
            title='AniStream'
            url='#'
            codeURL='https://github.com/Zwill1/AniStream' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/Social-Dashboard-thumbnail.jpg"
            imgAlt='Admin Social Dashboard'
            tags="React, React Router Dom, React Context API, Axios, HTML5, CSS, TailwindCSS, Material Icons, Vitest"
            title='Social Dashboard V2.0'
            url='#'
            codeURL='https://github.com/Zwill1/admin-social-dashboard-v2' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/car-dealership-thumbnail.jpg"
            imgAlt='Car Dealership'
            tags="React, React Router Dom, HTML5, TailwindCSS, CSS, SASS, Axios, React Icons, Vitest, Eslint"
            title='Car Dealership'
            url='#'
            codeURL='https://github.com/Zwill1/car-dealership' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#'  
            />
        </div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End Front-End Dev Projects --> 
</div>

<div class="bg-[#f4f4f4] pt-10 pb-10">
    <!-- Start "Back-End Dev Projects" -->
    <section>
        <h2 class="text-center text-4xl font-bold uppercase">Back-End Dev Projects</h2>
    </section>
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/product-uploader-thumbnail.jpg"
            imgAlt='Product Uploader'
            tags="PHP, Javascript, MySQL, CSS, HTML5, Icons, Sessions, Local Storage"
            title='Product Uploader'
            url='#'
            codeURL='https://github.com/Zwill1/Product-Uploader'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/product-uploader-thumbnail.jpg"
            imgAlt='Product Uploader'
            tags="PHP, Javascript, MySQL, CSS, HTML5, Icons, Sessions, Local Storage"
            title='Product Uploader'
            url='#'
            codeURL='https://github.com/Zwill1/Product-Uploader' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End Back-End Dev Projects --> 
</div>

<div class="pt-10 pb-10">
    <!-- Start "CMS Projects" -->
    <section>
        <h2 class="text-center text-4xl font-bold uppercase">Content Management Systems</h2>
    </section>
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/monarch-skin-and-laser-thumbnail.jpg"
            imgAlt='Monarch Skin and Laser'
            tags="PHP, Javascript, MySQL, CSS, HTML5, SEO, Icons, Themes"
            title='Monarch Skin and Laser'
            url='https://monarchskinandlaser.com/'
            codeURL='#'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/monarch-skin-and-laser-thumbnail.jpg"
            imgAlt='Monarch Skin and Laser'
            tags="PHP, Javascript, MySQL, CSS, HTML5, SEO, Icons, Themes"
            title='Monarch Skin and Laser'
            url='https://monarchskinandlaser.com/'
            codeURL='#'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#'  
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/spotlights/white-text-coming-soon.jpg"
            imgAlt='Project Unavailable'
            tags="Tags Unavailable"
            title='Coming Soon'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End CMS Projects --> 
</div>

<div class="bg-[#f4f4f4] pt-10 pb-10">
    <!-- Start "Graphic Design" -->
    <section>
        <h2 class="text-center text-4xl font-bold uppercase">Graphic Design</h2>
    </section>
    
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/HSV-ExpressLogo-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Typherion-Labs-Logo-600x400.jpg"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/E-fusion-Logo-600x400.jpg"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Black-Ice-Logo-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Row 2 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Salz-Vapor-Logo-600x400.jpg"
            imgAlt='Salz Vapor Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Salz Vapor'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Full-booth-600x400.jpg"
            imgAlt='Typherion Labs Booth'
            tags="Print, Marketing"
            title='Typherion Labs Booth'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-600x400.jpg"
            imgAlt='Typherion Labs - Expo Banners'
            tags="Print, Marketing"
            title='Typherion Labs - Expo Banners'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/labels-600x400.jpg"
            imgAlt='E-liquid labels for vapes'
            tags="Print, Marketing"
            title='E-liquid labels for vapes'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- Row 3 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-hsv-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Banner'
            tags="Print, Marketing"
            title='Hot Shots Vapor Express - Banner'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/HSV-ExpressLogo-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Typherion-Labs-Logo-600x400.jpg"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/E-fusion-Logo-600x400.jpg"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Black-Ice-Logo-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- Row 2 -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Salz-Vapor-Logo-600x400.jpg"
            imgAlt='Salz Vapor Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Salz Vapor'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Full-booth-600x400.jpg"
            imgAlt='Typherion Labs Booth'
            tags="Print, Marketing"
            title='Typherion Labs Booth'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-600x400.jpg"
            imgAlt='Typherion Labs - Expo Banners'
            tags="Print, Marketing"
            title='Typherion Labs - Expo Banners'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/labels-600x400.jpg"
            imgAlt='E-liquid labels for vapes'
            tags="Print, Marketing"
            title='E-liquid labels for vapes'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-hsv-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Banner'
            tags="Print, Marketing"
            title='Hot Shots Vapor Express - Banner'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End Graphic Design -->    
</div>

<div class="pt-10 pb-10">
    <!-- Start "Older Prjects" -->
    <section>
        <h2 class="text-center text-4xl font-bold uppercase">Older Projects</h2>
    </section>

    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/engravingReimagined/engraving-reimagined-1-600x400.jpg"
            imgAlt='Engraving Reimagined Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO"
            title='Engraving Reimagined'
            url='https://engravingreimagined.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/hotShotsVapor/hsv-1-600x400.jpg"
            imgAlt='Hot Shots Vapor Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO, Email Marketing"
            title='Hot Shots Vapor'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/blackIce/blackice-main-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/efusion/efusion-0-600x400.jpg"
            imgAlt='E-fusion Premium E liquid Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='E-fusion Premium E liquid'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Row 2 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/typherionLabs/tylabs-0-600x400.jpg"
            imgAlt='Typherion Labs Website'
            tags="HMTL, CSS, PHP, MySQL, Basic SEO, Email"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/sandhillProperties/sandhillproperties-wordpress-600x400.jpg"
            imgAlt='Sandhill Properties Website'
            tags="HMTL, CSS, PHP"
            title='Sandhill Properties'
            url='https://sandhillproperties.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/engravingReimagined/engraving-reimagined-1-600x400.jpg"
            imgAlt='Engraving Reimagined Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO"
            title='Engraving Reimagined'
            url='https://engravingreimagined.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/hotShotsVapor/hsv-1-600x400.jpg"
            imgAlt='Hot Shots Vapor Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO, Email Marketing"
            title='Hot Shots Vapor'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/blackIce/blackice-main-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/efusion/efusion-0-600x400.jpg"
            imgAlt='E-fusion Premium E liquid Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='E-fusion Premium E liquid'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- Row 2 -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/typherionLabs/tylabs-0-600x400.jpg"
            imgAlt='Typherion Labs Website'
            tags="HMTL, CSS, PHP, MySQL, Basic SEO, Email"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/sandhillProperties/sandhillproperties-wordpress-600x400.jpg"
            imgAlt='Sandhill Properties Website'
            tags="HMTL, CSS, PHP"
            title='Sandhill Properties'
            url='https://sandhillproperties.ca/'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>
    <!-- End Older Prjects MOBILE --> 
    <!-- End Older Prjects -->    
</div>
</Layout>
