---
import ProjectCard from '../components/ProjectCard.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio page">

    <!-- Start "Front-End Dev Projects" -->
    <section class="mt-10 mb-10">
        <h2 class="text-center text-4xl font-bold uppercase">Front-End Dev Projects</h2>
    </section>
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End Front-End Dev Projects --> 

    <!-- Start "Back-End Dev Projects" -->
    <section class="mt-10 mb-10">
        <h2 class="text-center text-4xl font-bold uppercase">Back-End Dev Projects</h2>
    </section>
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="https://placehold.co/600x400"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End Back-End Dev Projects --> 

    <!-- Start "Graphic Design" -->
    <section class="mt-10 mb-10">
        <h2 class="text-center text-4xl font-bold uppercase">Graphic Design</h2>
    </section>
    
    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/HSV-ExpressLogo-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Typherion-Labs-Logo-600x400.jpg"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/E-fusion-Logo-600x400.jpg"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Black-Ice-Logo-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Row 2 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Salz-Vapor-Logo-600x400.jpg"
            imgAlt='Salz Vapor Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Salz Vapor'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Full-booth-600x400.jpg"
            imgAlt='Typherion Labs Booth'
            tags="Print, Marketing"
            title='Typherion Labs Booth'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-600x400.jpg"
            imgAlt='Typherion Labs - Expo Banners'
            tags="Print, Marketing"
            title='Typherion Labs - Expo Banners'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/labels-600x400.jpg"
            imgAlt='E-liquid labels for vapes'
            tags="Print, Marketing"
            title='E-liquid labels for vapes'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- Row 3 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-hsv-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Banner'
            tags="Print, Marketing"
            title='Hot Shots Vapor Express - Banner'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/HSV-ExpressLogo-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Hot Shots Vapor Express - Logo'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Typherion-Labs-Logo-600x400.jpg"
            imgAlt='Typherion Labs - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/E-fusion-Logo-600x400.jpg"
            imgAlt='E-fusion Premium E Liquid - Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='E-fusion Premium E Liquid'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Black-Ice-Logo-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- Row 2 -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Salz-Vapor-Logo-600x400.jpg"
            imgAlt='Salz Vapor Logo'
            tags="AI, PDF, PS, PNG, JPEGS"
            title='Salz Vapor'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/Full-booth-600x400.jpg"
            imgAlt='Typherion Labs Booth'
            tags="Print, Marketing"
            title='Typherion Labs Booth'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-600x400.jpg"
            imgAlt='Typherion Labs - Expo Banners'
            tags="Print, Marketing"
            title='Typherion Labs - Expo Banners'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/labels-600x400.jpg"
            imgAlt='E-liquid labels for vapes'
            tags="Print, Marketing"
            title='E-liquid labels for vapes'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderDesigns/banners-hsv-600x400.jpg"
            imgAlt='Hot Shots Vapor Express - Banner'
            tags="Print, Marketing"
            title='Hot Shots Vapor Express - Banner'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>
    <!-- End Website cards for projects MOBILE -->
    <!-- End Graphic Design -->    

    <!-- Start "Older Prjects" -->
    <section class="mt-10 mb-10">
        <h2 class="text-center text-4xl font-bold uppercase">Older Projects</h2>
    </section>

    <!-- Website cards for projects DESKTOP -->
    <!-- Row 1 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/engravingReimagined/engraving-reimagined-1-600x400.jpg"
            imgAlt='Engraving Reimagined Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO"
            title='Engraving Reimagined'
            url='https://engravingreimagined.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/hotShotsVapor/hsv-1-600x400.jpg"
            imgAlt='Hot Shots Vapor Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO, Email Marketing"
            title='Hot Shots Vapor'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/blackIce/blackice-main-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/efusion/efusion-0-600x400.jpg"
            imgAlt='E-fusion Premium E liquid Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='E-fusion Premium E liquid'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>

    <!-- Row 2 -->
    <section class="hidden lg:block lg:flex w-full xl:w-10/12 mx-auto">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/typherionLabs/tylabs-0-600x400.jpg"
            imgAlt='Typherion Labs Website'
            tags="HMTL, CSS, PHP, MySQL, Basic SEO, Email"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/sandhillProperties/sandhillproperties-wordpress-600x400.jpg"
            imgAlt='Sandhill Properties Website'
            tags="HMTL, CSS, PHP"
            title='Sandhill Properties'
            url='https://sandhillproperties.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>

    <!-- Website cards for projects MOBILE -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/engravingReimagined/engraving-reimagined-1-600x400.jpg"
            imgAlt='Engraving Reimagined Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO"
            title='Engraving Reimagined'
            url='https://engravingreimagined.ca/'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/hotShotsVapor/hsv-1-600x400.jpg"
            imgAlt='Hot Shots Vapor Website'
            tags="HMTL, CSS, Shopify Liquid, Basic SEO, Email Marketing"
            title='Hot Shots Vapor'
            url='http://www.hotshotsvapor.ca/'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/blackIce/blackice-main-600x400.jpg"
            imgAlt='Black Ice Extreme Menthol Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='Black Ice Extreme Menthol'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/efusion/efusion-0-600x400.jpg"
            imgAlt='E-fusion Premium E liquid Website'
            tags="HTML, CSS, PHP, Basic SEO"
            title='E-fusion Premium E liquid'
            url='#'
            codeURL='#' 
            />
        </div>
    </section>
    <!-- Row 2 -->
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/typherionLabs/tylabs-0-600x400.jpg"
            imgAlt='Typherion Labs Website'
            tags="HMTL, CSS, PHP, MySQL, Basic SEO, Email"
            title='Typherion Labs'
            url='#'
            codeURL='#' 
            />
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6">
            <ProjectCard
            image="/images/olderProjects/sandhillProperties/sandhillproperties-wordpress-600x400.jpg"
            imgAlt='Sandhill Properties Website'
            tags="HMTL, CSS, PHP"
            title='Sandhill Properties'
            url='https://sandhillproperties.ca/'
            codeURL='#' 
            />
        </div>
    </section>
    <section class="md:flex w-full lg:hidden">
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
        <div class="w-full md:w-6/12 lg:w-3/12 text-center p-6"></div>
    </section>
    <!-- End Older Prjects MOBILE --> 
    <!-- End Older Prjects -->    
</Layout>../components/ProjectCard.jsx