---

interface Props {
    link: string,
    name: string,
    bgColor: string,
    width: string,
}

const {link, name, bgColor, width} = Astro.props

---

<a href={link} target="_blank" class={bgColor + " " + width + " block p-1 rounded-3xl"}>
    {name}
</a>