---
interface props {
    school: string,
    body: string,
    year: string,
}

const {school, body, year} = Astro.props
---
<p class="font-bold text-2xl italic leading-10">
    {school}
</p>
<p class="leading-2">
    {body}
</p>
<p class="font-bold italic leading-8">
    ~{year}
</p>