---
// import ThemeIcon from '../components/ThemeIcon.astro';
---


<section class="bg-black">
  <div class="flex justify-between md:w-full h-14 w-10/12 mx-auto container items-center">
    <div>
      <h1 class="flex">
        <a
          href="/"
          class="font-bold mr-4 text-2xl sm:text-3xl md:text-4xl uppercase text-white"
        >
          Logo
        </a>
      </h1>
    </div>
    <div>
      <ul class="hidden lg:flex pr-4">
            <li class="p-4 text-white">
              <a href="#">
                Home
              </a>
            </li>
            <li class="p-4 text-white">
              <a href="#">
                Portfolio
              </a>
            </li>
            <li class="p-4 text-white">
              <a href="#">
                Education
              </a>
            </li>
            <li class="p-4 text-white">
              <a href="#">
                Contact
              </a>
            </li>
            <!-- <li class="p-4">
              <ThemeIcon />
            </li> -->
            <div onclick="myFunction()" class="text-white">sss</div>
      </ul>
    </div>
  </div>
</section>

<script is:inline>
  function myFunction() {
  alert("I am an alert box!");
}
</script>